/* Sets the background of the entire page with a linear gradient */
body {
  background-color: aqua;
  background: rgb(32, 95, 152);
  background: linear-gradient(
    90deg,
    rgba(32, 95, 152, 0.44861694677871145) 0%,
    rgba(130, 157, 230, 0.8547794117647058) 39%,
    rgba(176, 234, 206, 1) 100%,
    rgba(229, 239, 172, 1) 100%
  );
}
/* Styles for the calculator title */
.calculator {
  display: flex;
  justify-content: center;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 3rem;
  margin-top: 4rem;
}

/* Container for the calculator, centered on the screen */
.container {
  align-items: center;
  text-align: center;
  outline: 1px solid limegreen !important;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* Styles for the display where input and results are shown */
.input-text {
  display: flex;
  /* background-color: rgb(125, 139, 139); */
  background-color: black;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  height: 5rem;
  width: 27rem;
  color: #fff;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 2rem;
}

/* Grid layout for the calculator buttons */
.buttons {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  width: 27rem;
}

/* General button styling */
.btn-AC,
.btn-div,
.btn-1,
.btn-div,
.btn-1,
.btn-PlusMinus,
.btn-√,
.btn-7,
.btn-8,
.btn-9,
.btn-4,
.btn-5,
.btn-6,
.btn-×,
.btn-2,
.btn-3,
.btn-0,
.btn-dot,
.btn-plus {
  height: 5rem;
  font-size: 1.4rem;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

/*  button styling for the modulo and equals buttons */
.btn-Mod,
.btn-equals {
  height: 5rem;
  font-size: 1.6rem;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

/*button styling for the addition and subtract buttons */
.btn-÷,
.btn-- {
  height: 5rem;
  font-size: 1.8rem;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

/* ======== MEDIA QUERY(Small Devices) ======= */
@media screen and (max-width: 600px) {
  .input-text {
    height: 3rem;
    width: 14rem;
    overflow: hidden;
    font-size: 1.5rem;
  }
  .buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    width: 10rem;
  }
  .btn-AC,
  .btn-div,
  .btn-1,
  .btn-div,
  .btn-1,
  .btn-PlusMinus,
  .btn-√,
  .btn-7,
  .btn-8,
  .btn-9,
  .btn-4,
  .btn-5,
  .btn-6,
  .btn-×,
  .btn-2,
  .btn-3,
  .btn-0,
  .btn-dot,
  .btn-plus {
    height: 3.5rem;
    width: 3.5rem;
    font-size: 1.4rem;
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  }

  .btn-Mod,
  .btn-equals {
    height: 3.5rem;
    width: 3.5rem;
    font-size: 1.6rem;
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  }
  .btn-÷,
  .btn-- {
    height: 3.5rem;
    width: 3.5rem;
    font-size: 1.8rem;
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  }
}
